@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#sideBarDiv {
    -fx-background-color: #2E333A;
    -fx-border-color: #595D64;
    -fx-border-width: 3px;
    -fx-background-radius: 20;
    -fx-border-radius: 10;
}

.blind-text-style {
    -fx-fill: white;
    -fx-font-family: "Press Start 2P", sans-serif;
    -fx-font-size: 25px;
}

.goal-text-style {
    -fx-fill: white;
    -fx-font-family: "Press Start 2P", sans-serif;
    -fx-font-size: 20px;
}

.goal-score-number-text-style {
    -fx-fill: #03071C;
    -fx-font-family: "Press Start 2P", sans-serif;
    -fx-font-size: 20px;
}
.your-score-text-style{
-fx-fill: white;
    -fx-font-family: "Press Start 2P", sans-serif;
    -fx-font-size: 18px;
}

.your-score-number-text-style{
-fx-fill: white;
    -fx-font-family: "Press Start 2P", sans-serif;
    -fx-font-size: 18px;
}