@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


@font-face {
     -fx-font-family: "Jersey 10", sans-serif;
         -fx-font-weight: 400;
         -fx-font-style: normal;
}

#tarot-card-name {
    -fx-fill: white;
      -fx-font-family: "Press Start 2P", sans-serif;
      -fx-font-size: 18px;
}

#tarot-card-ability {
    -fx-fill: white;
      -fx-font-family: "Press Start 2P", sans-serif;
      -fx-font-size: 12px;
      padding-left: 20px
}
